

@using Chart.Mvc.ComplexChart
@model ManagementDashboard.Models.ChartModel

<div class="">
    @Model.Title
</div>

@{
    var barChart = new BarChart();
    barChart.ChartConfiguration.Responsive = true;
    barChart.ChartConfiguration.MaintainAspectRatio = true;
    barChart.ComplexData.Labels.AddRange(Model.Labels);
    barChart.ComplexData.Datasets.AddRange(Model.ComplesDatasets);

}

<!--height="400" style="width: 100%; height: 400px;"-->
<canvas id="@Model.ChartID" height="60"></canvas>
@Html.CreateChart(Model.ChartID, barChart)

@{
    if (Model.ShowTable)
    {

        <table class="table table-striped table-sm table-bordered" style="font-size: 12px;">
            <thead>
                <tr>
                    <td class="text-center">
                        Label
                    </td>

                    @foreach (var itemLabel in Model.Labels)
                    {
                        <td class="text-right">@itemLabel</td>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ComplesDatasets)
                {
                    <tr>
                        <td class="text-center">
                            @item.Label

                        </td>
                        @foreach (var itemData in item.Data)
                        {
                            <td class="text-right">@itemData.ToString("N")</td>
                        }
                    </tr>


                }
            </tbody>
        </table>
    }
}

@{
    if (Model.ShowTable)
    {

        <table class="table table-striped table-sm table-bordered" style="font-size: 12px;">
            <thead>
                <tr>
                    <td class="text-center">
                        Label

                    </td>

                    @foreach (var itemLabel in Model.Labels)
                    {
                        <td class="text-right">@itemLabel</td>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.DataTableItems)
                {
                    <tr>
                        <td class="text-center">
                            @item.Label

                        </td>
                        @foreach (var itemData in item.Data)
                        {
                            <td class="text-right">@itemData.ToString("N")</td>
                        }
                    </tr>


                }
            </tbody>
        </table>
    }
}
