
@{
    ViewBag.Title = "CustomerView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card card-primary">
    <div class="card-header">
        <a href="#" id="NoRunClients"></a>
        No Run Customers
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-title">
                    <h4>@DateTime.Now.ToString("MMMM yyyy")</h4>
                </div>
                <div class="card-body">
                    <div class="panel-body1" style="overflow:auto;">
                        <div id="NoRunClients0">Loading....</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card">
                <div class="card-title">
                    <h4>@DateTime.Now.AddMonths(-1).ToString("MMMM yyyy")</h4>
                </div>
                <div class="card-body">
                    <div class="panel-body1" style="overflow:auto;">
                        <div id="NoRunClients1">Loading....</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card">
                <div class="card-title">
                    <h4>@DateTime.Now.AddMonths(-2).ToString("MMMM yyyy")</h4>
                </div>
                <div class="card-body">
                    <div class="panel-body1" style="overflow:auto;">
                        <div id="NoRunClients2">Loading....</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card card-primary">
    <div class="card-header">
        <a href="#" id="CanceledClients"></a>
        Canceled Customers
    </div>

    <div class="row">

        <div class="col-sm-12">
            <div class="card">
                <div class="card-title">
                    <h4>@DateTime.Now.ToString("MMMM yyyy")</h4>
                </div>
                <div class="card-body">
                    <div class="panel-body1" style="overflow:auto;">
                        <div id="CanceledClients0">Loading....</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-sm-12">
            <div class="card">
                <div class="card-title">
                    <h4>@DateTime.Now.AddMonths(-1).ToString("MMMM yyyy")</h4>
                </div>
                <div class="card-body">
                    <div class="panel-body1" style="overflow:auto;">
                        <div id="CanceledClients1">Loading....</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-sm-12">
            <div class="card">
                <div class="card-title">
                    <h4>@DateTime.Now.AddMonths(-2).ToString("MMMM yyyy")</h4>
                </div>
                <divv class="card-body">
                    <div class="panel-body1" style="overflow:auto;">
                        <div id="CanceledClients2">Loading....</div>
                    </div>
                </divv>
            </div>
        </div>
    </div>
</div>



<div class="card card-primary">
    <div class="card-header">
        <a href="#" id="inCancelation"></a>
        In Cancelation Customers
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="panel-body1" style="overflow:auto;">
                        <div id="inCancelation0">Loading....</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






<div class="card card-primary">
    <div class="card-header">
        <a href="#" id="PendingClients"></a>
        Pending Customers by Month
    </div>
    <div class="row">

        <div class="col-sm-4">
            <div class="card">
                <div class="card-title">
                    <h4>@DateTime.Now.ToString("MMMM yyyy")</h4>
                </div>
                <div class="card-body">
                    <div class="panel-body1" style="overflow:auto;">
                        <div id="PendingClients0">Loading....</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card">
                <div class="card-title">
                    <h4>@DateTime.Now.AddMonths(-1).ToString("MMMM yyyy")</h4>
                </div>
                <div class="card-body">
                    <div class="panel-body1" style="overflow:auto;">
                        <div id="PendingClients1">Loading....</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card">
                <div class="card-title">
                    <h4>@DateTime.Now.AddMonths(-2).ToString("MMMM yyyy")</h4>
                </div>
                <div class="card-body">
                    <div class="panel-body1" style="overflow:auto;">
                        <div id="PendingClients2">Loading....</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card card-primary">
    <div class="card-header">
        <a href="#" id="ListOfPendingClient"></a>
        Pending Customers
    </div>

    <div class="row">

        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="panel-body1" style="overflow:auto;">
                        <div id="ListOfPendingClient1">Loading....</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="card card-primary">
    <div class="card-header">
        <a href="#" id="HighestCustomerRecord"></a>
        Top 20 Highest Customer Records
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-title">
                    <h4> @DateTime.Now.ToString("MMMM yyyy")</h4>
                </div>
                <div class="card-body">
                    <div class="panel-body1" style="overflow:auto;">
                        <div id="HighestCustomerValue0">Loading....</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card">
                <div class="card-title">
                    <h4> @DateTime.Now.AddMonths(-1).ToString("MMMM yyyy")</h4>
                </div>
                <div class="card-body">
                    <div class="panel-body1" style="overflow:auto;">
                        <div id="HighestCustomerValue1">Loading....</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card">
                <div class="card-title">
                    <h4> @DateTime.Now.AddMonths(-2).ToString("MMMM yyyy")</h4>
                </div>
                <div class="card-body">
                    <div class="panel-body1" style="overflow:auto;">
                        <div id="HighestCustomerValue2">Loading....</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="card card-primary">
    <div class="card-header">
        <a href="#" id="Top10HighestCustomerValue"></a>
        Top 10 Highest Customer Value
    </div>

    <div class="row">

        <div class="col-sm-4">
            <div class="card">
                <div class="card-title">
                    <h4>@DateTime.Now.ToString("MMMM yyyy")</h4>
                </div>
                <div class="card-body">
                    <div class="panel-body1" style="overflow:auto;">
                        <div id="GetTopValueCustomers0">Loading....</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card">
                <div class="card-title">
                    <h4>@DateTime.Now.AddMonths(-1).ToString("MMMM yyyy")</h4>
                </div>
                <div class="card-body">
                    <div class="panel-body1" style="overflow:auto;">
                        <div id="GetTopValueCustomers1">Loading....</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card">
                <div class="card-title">
                    <h4>@DateTime.Now.AddMonths(-2).ToString("MMMM yyyy")</h4>
                </div>
                <div class="card-body">
                    <div class="panel-body1" style="overflow:auto;">
                        <div id="GetTopValueCustomers2">Loading....</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card card-primary">
    <div class="card-header">
        <a href="#" id="DormantClients"></a>
        Dormant Customers
    </div>

    <div class="row">

        <div class="col-sm-4">
            <div class="card">
                <div class="card-title">
                    <h4>@DateTime.Now.ToString("MMMM yyyy")</h4>
                </div>
                <div class="card-body">
                    <div class="panel-body1" style="overflow:auto;">
                        <div id="DormantClients1">Loading....</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card">
                <div class="card-title">
                    <h4>@DateTime.Now.AddMonths(-1).ToString("MMMM yyyy")</h4>
                </div>
                <div class="card-body">
                    <div class="panel-body1" style="overflow:auto;">
                        <div id="DormantClients2">Loading....</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card">
                <div class="card-title">
                    <h4>@DateTime.Now.AddMonths(-2).ToString("MMMM yyyy")</h4>
                </div>
                <div class="card-body">
                    <div class="panel-body1" style="overflow:auto;">
                        <div id="DormantClients3">Loading....</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="card card-primary">
    <div class="card-header">
        <a href="#" id="uManageCustomers"></a>
        uManage Customers
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-title">
                    <h4>@DateTime.Now.ToString("MMMM yyyy")</h4>
                </div>
                <div class="card-body">
                    <div class="panel-body1" style="overflow:auto;">
                        <div id="uManageCustomers1">Loading....</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card">
                <div class="card-title">
                    <h4>@DateTime.Now.AddMonths(-1).ToString("MMMM yyyy")</h4>
                </div>
                <div class="card-body">
                    <div class="panel-body1" style="overflow:auto;">
                        <div id="uManageCustomers2">Loading....</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card">
                <div class="card-title">
                    <h4>@DateTime.Now.AddMonths(-2).ToString("MMMM yyyy")</h4>
                </div>
                <div class="card-body">
                    <div class="panel-body1" style="overflow:auto;">
                        <div id="uManageCustomers3">Loading....</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="card card-primary">
    <div class="card-header">
        <a href="#" id="NewClientByIndustryA"></a>
        New Customers By Industry
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-title">
                    <h4>@DateTime.Now.ToString("MMMM yyyy")</h4>
                </div>
                <div class="card-body">
                    <div class="panel-body1" style="overflow:auto;">
                        <div id="NewClientByIndustry0">Loading....</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-title">
                    <h4>@DateTime.Now.AddMonths(-1).ToString("MMMM yyyy")</h4>
                </div>
                <div class="card-body">
                    <div class="panel-body1" style="overflow:auto;">
                        <div id="NewClientByIndustry1">Loading....</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-title">
                    <h4>@DateTime.Now.AddMonths(-2).ToString("MMMM yyyy")</h4>
                </div>
                <div class="card-body">
                    <div class="panel-body1" style="overflow:auto;">
                        <div id="NewClientByIndustry2">Loading....</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="card card-primary">
    <div class="card-header">
        <a href="#" id="NewClients"></a>
        New Customers
    </div>

    <div class="row">

        <div class="col-md-4">
            <div class="card">
                <div class="card-title">
                    <h4>@DateTime.Now.ToString("MMMM yyyy")</h4>
                </div>
                <div class="card-body">
                    <div class="panel-body1" style="overflow:auto;">
                        <div id="NewClient0">Loading....</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-title">
                    <h4>@DateTime.Now.AddMonths(-1).ToString("MMMM yyyy")</h4>
                </div>
                <div class="card-body">
                    <div class="panel-body1" style="overflow:auto;">
                        <div id="NewClient1">Loading....</div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-title">
                    <h4>@DateTime.Now.AddMonths(-2).ToString("MMMM yyyy")</h4>
                </div>
                <div class="card-body">
                    <div class="panel-body1" style="overflow:auto;">
                        <div id="NewClient2">Loading....</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="card card-primary">
    <div class="card-header">
        <a href="#" id="TransactionCodes"></a>
        Transaction Codes
    </div>

    <div class="row">

        <div class="col-md-4">
            <div class="card">
                <div class="card-title">
                    <h4>@DateTime.Now.ToString("MMMM yyyy")</h4>
                </div>
                <div class="card-body">
                    <div class="panel-body1" style="overflow:auto;">
                        <div id="TransactionCodes0">Loading....</div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>





@section scripts
{

    <script>
        $().ready(function () {

            $("#PrintThis").click(function () {
                $('#Report').printThis();
            });

        });

    </script>


    <script>

        $().ready(function () {


            function aJaxPost(action, myData, target) {
                $.ajax({
                    method: "POST",
                    url: action,
                    data: myData,
                    success: function (response) {
                        $(target).html(response);
                        // alert(response);
                        // alert(target + " Details saved successfully!!!");
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        $(target).html(xhr.status);
                        //alert(xhr.status);
                        //alert(thrownError);
                    }
                });
            }


               //Html.Action("NoRunClients", "Top", new { id = 0 })
               aJaxPost("@Url.Action("NoRunClients", "Top")", { id: 0 }, "#NoRunClients0");
               aJaxPost("@Url.Action("NoRunClients", "Top")", { id: 1 }, "#NoRunClients1");
               aJaxPost("@Url.Action("NoRunClients", "Top")", { id: 2 }, "#NoRunClients2");


               //Html.Action("CanceledClients", "Top", new { id = 0 })
               aJaxPost("@Url.Action("CanceledClients", "Top")", { id: 0 }, "#CanceledClients0");
               aJaxPost("@Url.Action("CanceledClients", "Top")", { id: 1 }, "#CanceledClients1");
                aJaxPost("@Url.Action("CanceledClients", "Top")", { id: 2 }, "#CanceledClients2");

                //in cancelation
                aJaxPost("@Url.Action("InCancelation", "Top")", { id: 0 }, "#inCancelation0");



               //Html.Action("PendingClients", "Top", new { id = 0 })
               aJaxPost("@Url.Action("PendingClients", "Top")", { id: 1 }, "#PendingClients1");
               aJaxPost("@Url.Action("PendingClients", "Top")", { id: 2 }, "#PendingClients2");
               aJaxPost("@Url.Action("PendingClients", "Top")", { id: 0 }, "#PendingClients0");

               //Html.Action("ListofPendingClients", "Top", new { id = 0 })
               aJaxPost("@Url.Action("ListOfPendingClient", "Top")", { id: 0 }, "#ListOfPendingClient1");

               //Html.Action("DormantClients", "Top", new { id = 0 })
               aJaxPost("@Url.Action("DormantClients", "Top")", { id: 0 }, "#DormantClients1");
               aJaxPost("@Url.Action("DormantClients", "Top")", { id: 1 }, "#DormantClients2");
               aJaxPost("@Url.Action("DormantClients", "Top")", { id: 2 }, "#DormantClients3");

               //Html.Action("uManageCustomers", "Top", new { id = 0 })
               aJaxPost("@Url.Action("uManageCustomers", "Top")", { id: 0 }, "#uManageCustomers1");
               aJaxPost("@Url.Action("uManageCustomers", "Top")", { id: 1 }, "#uManageCustomers2");
               aJaxPost("@Url.Action("uManageCustomers", "Top")", { id: 2 }, "#uManageCustomers3");


               //NewClientByIndustry
               aJaxPost("@Url.Action("NewClientByIndustry", "TPMS")", { id: 0 }, "#NewClientByIndustry0");
               aJaxPost("@Url.Action("NewClientByIndustry", "TPMS")", { id: 1 }, "#NewClientByIndustry1");
               aJaxPost("@Url.Action("NewClientByIndustry", "TPMS")", { id: 2 }, "#NewClientByIndustry2");


               aJaxPost("@Url.Action("NewClients", "Top")", { id: 0 }, "#NewClient0");
               aJaxPost("@Url.Action("NewClients", "Top")", { id: 1 }, "#NewClient1");
               aJaxPost("@Url.Action("NewClients", "Top")", { id: 2 }, "#NewClient2");

               aJaxPost("@Url.Action("TransactionCodes", "Top")", { id: 0 }, "#TransactionCodes0");

        //Html.Action("GetTopValueCustomers", "Top", new { id = 0 })
               aJaxPost("@Url.Action("GetTopValueCustomers", "Top")", { id: 0 }, "#GetTopValueCustomers0");
               aJaxPost("@Url.Action("GetTopValueCustomers", "Top")", { id: 1 }, "#GetTopValueCustomers1");
               aJaxPost("@Url.Action("GetTopValueCustomers", "Top")", { id: 2 }, "#GetTopValueCustomers2");

                    //HighestCustomerValue
               aJaxPost("@Url.Action("HighestCustomerValue", "Top")", { id: 0 }, "#HighestCustomerValue0");
               aJaxPost("@Url.Action("HighestCustomerValue", "Top")", { id: 1 }, "#HighestCustomerValue1");
               aJaxPost("@Url.Action("HighestCustomerValue", "Top")", { id: 2 }, "#HighestCustomerValue2");
                      

        });

    </script>


}
