
@{

}
    <div>
    <p> 
        </p>
    </div> 
<div class="row">
    <h2>Deposit Balance per Month</h2>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-body1" style="overflow:auto;">
                    <h4>@DateTime.Now.ToString("MMMM yyyy")</h4>
                    @Html.Action("DepositBalancePartial", "Reports", new { id = 0 })

                </div>
            </div>

        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-body1" style="overflow:auto;">

                    <h4>@DateTime.Now.AddMonths(-1).ToString("MMMM yyyy")</h4>
                    @Html.Action("DepositBalancePartial", "Reports", new { id = 1 })
                </div>
            </div>

        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-body1" style="overflow:auto;">
                    <h4>@DateTime.Now.AddMonths(-2).ToString("MMMM yyyy")</h4>
                    @Html.Action("DepositBalancePartial", "Reports", new { id = 2 })

                </div>
            </div>

        </div>
    </div>
