@model List<ManagementDashboard.Models.XeroClient>
@{ 

   
}

<table class="table table-striped table-sm">
    <thead>

    <tr>
        <th>Reference</th>
        <th>Client</th>
        <th>Tenant Name</th>
        <th>Connection</th>
    </tr>
    </thead>
    <tbody>

    @foreach (var client in Model.Where(x =>x.ServiceStatus == 1)
        .OrderBy(x=>x.CustomerReference))
    {
        var connectionClass = "badge-success";
        if (client.ConnectionStatus == "Disconnected")
        {
            connectionClass = "badge-warning";
        }
        <tr>
            <td>@client.CustomerReference</td>
            <td>@client.CustomerName</td>
            <td>@client.TenantName</td>
            <td>
                <span class=" badge  @connectionClass">

                @client.ConnectionStatus
                </span>
            </td>
        </tr>
    }
    </tbody>
</table>