

@model List<ManagementDashboard.Models.DormantClients>

<table class="table table-striped table-sm">
    <thead>
        <tr>
            <th>Ref</th>
            <th>State</th>
            <th>PrevRun</th>
            <th>Next</th>
            <th>Span</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Ref</td>
                <td>@item.State</td>
                <td>@item.PrevRun.ToString("dd-MM-yyyy")</td>
                <td>@item.Next</td>
                <td>@item.Span</td>
            </tr>
        }
    </tbody>
</table>