
@model List<ManagementDashboard.Models.NoRetentionDeposit>

<table class="table table-striped table-sm">
    <thead>
        <tr>
            <th>Ref</th>
            <th>Customer</th>
            <th>Collateral</th>
            <th>Value</th>
            <th>Have Runs</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Ref</td>
                <td>@item.Customer</td>
                <td>@item.Collateral</td>
                <td>@item.Value</td>
                <td>@item.HaveRuns</td>
            </tr>
        }
    </tbody>
</table>