
@model List<ManagementDashboard.Models.RetNotReleased>

<table class="table table-condensed table-responsive table-striped table-sm">
    <thead>
        <tr>
            <th>Ref</th>
            <th>RBR</th>
            <th>Action Date</th>
            <th>Release Date</th>
            <th>Age</th>
            <th class="text-right">Retention Amount</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Ref</td>
                <td>@item.Rbr</td>
                <td>@item.ActionDate.ToString("dd-MM-yyyy")</td>
                <td>@item.ReleaseDate.ToString("dd-MM-yyyy")</td>
                <td>@item.Age</td>
                <td class="text-right">@item.RetAmount</td>
            </tr>
        }
    </tbody>
</table>